.DS_Store
*.class
R.java
*.apk
*.ap_
bin/
gen/
classes.dex
datingchat.properties
chat/BeNaughty/dating-resources/backup-res/*
.svn/
.settings/
local.properties
chat/BeNaughty/tmp/
additional.properties
Dating/build_util/
out/
lint.xml
vcs.xml
classes/
Dating/DatingSDKFragments/.idea/workspace.xml
ant.xml
*/project.properties
Manifest.java
codeStyleSettings.xml
Dating/ILikeBoardProject/Canoodle/.idea/workspace.xml
proguard_logs
.classpath
ant.xml
build
*.properties
out/
**/.idea/workspace.xml
.idea/workspace.xml
/*/*/.idea/workspace.xml
.idea/inspectionProfiles
**/.idea/inspectionProfiles
*/*/*/.idea/inspectionProfiles
CupidLabs/Yolo/res/values/config_private.xml
.idea
*.iml
.gradle
com_crashlytics_export_strings.xml
